body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #f2f4f7;
  /*点击高亮我们需要清除清除  设置为transparent 完成透明*/
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #707070;
  font-size: 0.6667rem;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  border: 1px solid #eaeaea;
  text-align: center;
  line-height: 2.1333rem;
  font-size: 0.9333rem;
  color: #1c1c1c;
  background-color: #fff;
}
.wrap {
  background-color: #fff;
  padding-bottom: 1.1467rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
}
.nav-item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.go {
  margin: 0 0.2667rem 0 0.48rem;
}
.content {
  margin-top: 0.2667rem;
  padding: 1.0667rem 0.64rem;
  background-color: #fff;
}
.content .con-hd {
  height: 1.0133rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.28rem;
  margin-bottom: 0.9067rem;
}
.content h4 {
  margin: 0;
  font-size: 0.7467rem;
  color: #333;
}
.content h4 img {
  display: inline-block;
  width: 1.0133rem;
  height: 1.0133rem;
  vertical-align: middle;
}
.content .more {
  font-size: 0.5867rem;
  color: #999;
}
.get-job-focus {
  position: relative;
}
.get-job-focus .swiper {
  width: 14.4rem;
  height: 100%;
}
.get-job-focus .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.4;
}
.get-job-focus .swiper-slide a {
  width: 9.0133rem;
  height: 10.0267rem;
  overflow: hidden;
}
.get-job-focus .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.get-job-focus .swiper-slide p {
  width: 9.0133rem;
  font-size: 0.6667rem;
  margin-top: 0.64rem;
  color: #333;
}
.get-job-focus .swiper-slide-active,
.get-job-focus .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
  font-size: 0.2667rem;
  color: #666;
}
.study_cn {
  padding-bottom: 3.7333rem;
}
.study .study_fo {
  padding: 0.2667rem;
}
.study .swiper-slide {
  font-size: 18px;
  background: #fff;
  height: 8.2667rem;
  border-radius: 0.2667rem;
  box-shadow: 0 0 0.2667rem rgba(0, 0, 0, 0.1);
}
.study .swiper-slide h5 {
  font-size: 0.6933rem;
  font-weight: 400;
  margin: 0.5333rem 0;
  padding: 0 0.2667rem;
}
.study .swiper-slide p {
  font-size: 0.6933rem;
  color: #ff4000;
  padding: 0 0.2667rem;
}
.study .swiper-slide p span {
  color: #333;
}
.footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 100%;
  height: 2.9333rem;
  background-color: #fff;
  z-index: 10;
  display: flex;
  padding-top: 0.5333rem;
  border-top: 1px solid #ccc;
}
.footer .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .item img {
  width: 1.04rem;
  height: 1.0933rem;
}
.footer .item p {
  font-size: 0.5867rem;
  color: #666;
  margin-top: 0.2667rem;
}
